// INTERNAL IMPORTS
@use "variables" as v;

// EXTERNAL IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

// Global styles

body {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

input,
textarea {
  font-size: 0.9em;
  padding: 2px 5px;
}

.formErrorMessage {
  color: red;
}

#root > * {
  font-family: v.$font-family-global;
  line-height: 1.5;
}

// Layout

#root {
  & > .contentWrap_global {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
  }
}
.header {
  grid-column: 1/-1;
}

.contentWrap_global {
  width: min(1200px, 100%);
  margin: 0 auto;
}

@media screen and (min-width: 780px) {
  #root {
    & > .contentWrap_global {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 2rem;
    }
  }
} ;
