// INTERNAL IMPORTS
@use "variables" as v;

// EXTERNAL IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

// Global styles

//TODO: temporary delete START
input,
textarea,
label,
button {
  margin-bottom: 0.5rem;
}

.formErrorMessage {
  color: red;
}

#root > * {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0.5rem;
  }
}

//TODO: temporary delete END
