// INTERNAL IMPORTS
@use "variables" as v;

// EXTERNAL IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

// Global styles

//TODO: temporary delete START
input,
textarea,
label,
button {
  margin-bottom: 0.5rem;
}
input,
textarea {
  font-size: 0.9em;
  padding: 2px 5px;
}

.formErrorMessage {
  color: red;
}

#root > * {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0.5rem;
  }
  padding-left: 1rem;
  font-family: v.$font-family-global;
  line-height: 1.5;
}

.questionStatistics,
.answerStatistics {
  button {
    display: inline;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

//TODO: temporary delete END
