@use "../styles/variables" as v;

.formSection {
  width: min(500px, 100%);
  margin: 0 auto;

  form {
    margin-top: 1rem;
    @include v.post-basic;

    label {
      margin-bottom: 0.5rem;
    }

    textarea,
    input {
      width: min(400px, 100%);
    }

    textarea {
      height: 100px;
    }

    button {
      @include v.post-basic;
      cursor: pointer;
      background: #fff;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.formNewAnswerSection {
  margin: unset;
  margin-top: 1.5rem;
  width: 100%;

  .descriptionWrap textarea {
    width: 100%;
  }
}

.formEditQuestion {
  margin: unset;

  .formEditQuestionWrapper {
    .formEditQuestionBtns {
      display: flex;
      gap: 0.5rem;
    }
  }
}

.formEditAnswer {
  margin: unset;
  .formEditQuestionBtns {
    display: flex;
    gap: 0.5rem;
  }
}
