@use "../../styles/variables" as v;

.formLogin {
  .formInputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: column;

    label {
      min-width: 80px;
    }
    .buttonSubmitWrap {
      display: flex;
      justify-content: center;
      button {
        @include v.post-basic;
        background-color: #fff;
        padding-block: 3px;
        cursor: pointer;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 780px) {
      flex-direction: row;
    }
  }

  .formErrors {
    position: absolute;
    min-height: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
}
